@media (max-width: 991px) {
  /* custom css */
  section {
    padding: 50px 0;
    z-index: 1;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
  }

  /* 2 Navbar */
  .header-scrolled {
    height: auto;
  }

  .header_wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--bg-dark-blue);
    padding-bottom: 15px;
  }

  .header_wrapper .nav-item .nav-link {
    margin-top: 15px;
  }

  /* banner wrapper */
  .banner_wrapper {
    padding: 200px 0;
  }

  /* About */
  .about_wrapper ul.nav-pills {
    width: 61%;
    margin: auto;
  }

  /* portfolio */
  .portfolio_wrapper .card {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 13px;
    line-height: 24px;
  }

  /* About */
  .about_wrapper ul.nav-pills {
    width: 100%;
    margin: auto;
    border: 0;
  }
  .about_wrapper ul li .nav-link {
    font-size: 13px;
  }

  @media (max-width: 767px) {
    .about_wrapper img {
      max-width: 200px; /* Adjust the size for mobile */
    }
  }
  /* portfolio */
  .portfolio_wrapper .card {
    min-height: 500px;
  }
}

.banner_wrapper {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Responsive Fix for Mobile */
@media (max-width: 767px) {
  .social-icon {
    justify-content: center !important; /* Force centering on mobile */
  }

  .social-icon li a {
    padding-left: 2px;
  }

  .col-lg-4 {
    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .certification_wrapper {
    padding: 50px 10px; /* Adjust padding for smaller screens */
  }

  .certification_wrapper .row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .certification_wrapper .container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Adjust grid */
    align-items: center;
  }

  .certification_wrapper img {
    width: 90%; /* Make sure it fits smaller screens */
    max-width: 300px;
    height: 180px; /* Slightly smaller height for better scaling */
  }

  .portfolio_wrapper {
    padding: 30px 10px;
  }

  .portfolio_wrapper h3 {
    font-size: 1.5rem;
  }

  .portfolio_wrapper img {
    max-width: 300px;
  }
}

.portfolio_wrapper {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

.contact_wrapper {
  height: 80vh; /* Full viewport height */
  width: 100%; /* Full width */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}
